.CommentsList {
    padding: 8px 0;
    display: flex;
    flex-direction: column;

    width: 100%;

    .comment-avatar {
        width: 24px;
        height: 24px;
        border-radius: 100%;
    }

    .comment-thread-item {
        position: relative;

        &.comment-reply {
            border-left: 2px solid rgba(var(--center-channel-color-rgb), 0.16);
            padding-left: 16px;
        }
    }

    .CommentsList__new {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 0;
        min-height: 48px;
    }

    .newcomment-wrapper {
        flex-grow: 1;
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.16);
        border-radius: 4px;
        overflow: hidden;
    }

    .newcomment {
        padding: 8px 12px;

        + button {
            margin: -4px 0 0 8px;
        }
    }
}

.CommentsList__divider {
    margin-top: 8px;
}
